<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<title>actcoursepromotion - IServ - {{cfg.domain}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ asset('css/compiled/idesk.css') }}">
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="system">
